#main-margin {
  padding-left: 160px;
  padding-right: 160px;
}
#flex-container-project {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
#flex-container-footer {
  display: flex;
  justify-content: flex-end;
  width: 110%;
}
.nav-items div {
  display: inline-block;
}

.header_footer-box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 18px;
  margin-left: 18px;
}
.footer-box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 18px;
  margin-left: 18px;
}
.header_footer-icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#pr-ment {
  font-size: 50px;
}
.float-clear {
  clear: left;
  clear: right;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.footer-flex-container {
  display: flex;
  justify-content: space-between;
}
.tel-flex-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.flex-item {
  flex: 1;
}
#profile-image {
  width: 50%;
}

.skills {
  width: 150px;
  padding: 10px;
}

.projects {
  width: 30%;
  box-shadow: 1px 1px 20px #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.section-text {
}

header {
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #42446e;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}
header h1 span {
  /* 글씨에 그라데이션 주는 효과 */
  background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
  background-clip: text;
  color: transparent; /* 글자 색을 투명하게 */
}
#profile-img {
  border: 10px solid transparent;
  border-radius: 50%;
  color: transparent;
  background-color: white;
  background-image: linear-gradient(#ffff, #ffff),
    linear-gradient(to right, #fbfcb9bf, #ffcdf3aa, #65d3ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
