/* ID 선택자 */
#title {
  text-decoration: underline;
  font-weight: bold;
}
/* 클래스 선택자 */
.description {
  color: grey;
}
/* 태그 선택자 */
p {
  font-style: italic;
  color: white;
  background-color: skyblue;
  width: 200px;
  height: 30px;
  padding: 20px;
  border: 50px black;
  margin: 15px;
}
/* 자식 선택자 */
div p {
  color: blue;
}
