/* 모바일 기기를 위한 스타일 */
body {
  background-color: lightblue;
}

/* 화면 크기가 600px 이상일 때 적용되는 스타일 */
@media (min-width: 600px) {
  body {
    background-color: orange;
  }
}

/* 화면 크기가 800px 이상일 때 적용되는 스타일 */
@media (min-width: 800px) {
  body {
    background-color: green;
  }
}
