@font-face {
  font-family: "Pretendard";
  src:
    local("Pretendard Bold"),
    url(./woff2/Pretendard-Bold.woff2) format("woff2"),
    url(./woff/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}
* {
  font-family: Pretendard !important;
}
#main-margin {
  padding-left: 8.33vw;
  padding-right: 8.33vw;
}
#flex-container-project {
  margin-top: 2.6vw;
  margin-bottom: 2.6vw;
  display: flex;
  justify-content: space-around;
}
#flex-container-footer {
  display: flex;
  justify-content: flex-end;
  width: 110%;
}
.nav-items div {
  display: inline-block;
}

.header_footer-box {
  margin-top: 0.52vw;
  margin-bottom: 0.52vw;
  margin-right: 0.94vw;
  margin-left: 0.94vw;
}
.footer-box {
  margin-top: 0.52vw;
  margin-bottom: 0.52vw;
  margin-right: 0.94vw;
  margin-left: 0.94vw;
}
.header_footer-icon {
  margin-top: 0.52vw;
  margin-bottom: 0.52vw;
  margin-right: 0.52vw;
  margin-left: 0.52vw;
}

#pr-ment {
  font-size: 2.6vw;
}
.float-clear {
  clear: left;
  clear: right;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.footer-flex-container {
  display: flex;
  justify-content: space-between;
}
.tel-flex-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.flex-item {
  flex: 1;
}
#profile-image {
  width: 50%;
}

.skills {
  width: 7.81vw;
  padding: 0.52vw;
}

.projects {
  width: 30%;
  box-shadow: 0.05vw 0.05vw 1.04vw #d9d9d9;
  border-radius: 1.04vw;
  overflow: hidden;
  text-align: center;
}
header {
  padding-top: 2.6vw;
  padding-bottom: 2.6vw;
}

header h1 {
  color: #42446e;
  font-size: 3.02vw;
  font-style: normal;
  font-weight: 700;
  line-height: 3.65vw; /* 120.69% */
  letter-spacing: -0.05vw;
}
header h1 span {
  /* 글씨에 그라데이션 주는 효과 */
  background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
  background-clip: text;
  color: transparent; /* 글자 색을 투명하게 */
}
#profile-img {
  border: 0.52vw solid transparent;
  border-radius: 50%;
  color: transparent;
  background-color: white;
  background-image: linear-gradient(#ffff, #ffff),
    linear-gradient(to right, #fbfcb9bf, #ffcdf3aa, #65d3ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
